.sidebar-container {
  width: 250px; 
  background-color: #2c3e50; 
  color: #ecf0f1; 
  height: 100vh; 
  padding: 20px 0; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); 
  display: flex; 
  flex-direction: column; 
  
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-header h3 {
  margin: 0;
  font-size: 1.8em;
  color: #3498db;
}

.sidebar-nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-nav a {
  display: block; 
  padding: 12px 20px;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.1em;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.sidebar-nav a:hover {
  background-color: #34495e; 
  color: #ffffff;
}


.sidebar-nav a.active {
  background-color: #3498db; 
  color: #ffffff;
  font-weight: bold;
  border-left: 5px solid #2980b9; 
}

.sidebar-footer {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #34495e; 
  font-size: 0.9em;
  color: #bdc3c7;
  ;
}