<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/bf0835d8-4213-47e5-9e54-b78e75fbf562/resourcegroups/Tracker/providers/Microsoft.ContainerRegistry/registries/GymTracker20260531234352</ContainerResourceId>
    <ContainerResourceName>GymTracker20260531234352</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>gymtracker20260531234352.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>gymtracker</ContainerName>
    <EnvironmentName>GymTracker-env-20260531233327</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://gymtracker-app-20260531234016.ambitiousdune-b9879ff6.polandcentral.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/bf0835d8-4213-47e5-9e54-b78e75fbf562/resourceGroups/Tracker/providers/Microsoft.App/containerApps/gymtracker-app-20260531234016</ResourceId>
    <ResourceGroup>Tracker</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>